In [333]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [334]:
df = pd.read_csv("books-scrapy.csv")
df.head()

,author,binding,category,depth,height,isbn10,isbn13,language,noOfPages,price,publisher,publisherDate,returnable,subTitle,title,url,weight,width
0,Swami Vivekananda,Paperback,Home::History & Humanities::Philosophy::Non-we...,NaN,2.5 mm,9389178789,9789389178784,English,432,₹226,Fingerprint! Publishing,01 Aug 2019,Y,"Karma Yoga, Bhakti Yoga, Raja Yoga, Jnana Yoga","The Complete Book of Yoga: Karma Yoga, Bhakti ...",https://www.bookswagon.com/book/complete-book-...,294 gr,14.0 mm
1,Au,Hardback,Home::General,8.0,292 mm,0723296235,9780723296232,NaN,24,₹489,Penguin Books Ltd,24 Sep 2014,Y,NaN,Peppa Pig: Peppa's Super Noisy Sound Book,https://www.bookswagon.com/book/peppa-pig-au-p...,616 gr,306 mm
2,Wonder House Books,Paperback,"Home::Children & Teens::Picture books, activi...",NaN,0.8 mm,9390183588,9789390183586,English,32,₹119,Wonder House Books,12 Aug 2020,Y,Jumbo Sized Colouring Book for Children,I Am Born To Be A Unicorn Coloring book - Gian...,https://www.bookswagon.com/book/i-am-born-unic...,700 gr,27.6 mm
3,Dreamland Publications,Paperback,Home::General,NaN,280 mm,9350897601,9789350897607,English,64,₹207,Dreamland Publications,2016,NaN,NaN,Refreshing Mandala- Colouring Book for Adults ...,https://www.bookswagon.com/book/refreshing-man...,325 gr,280 mm
4,Wonder House Books,Cards,Home::General,NaN,3.4 mm,9388810317,9789388810319,English,60,₹226,Wonder House Books,20 May 2019,NaN,NaN,My First Flash Cards Colors And Shapes : 30 E...,https://www.bookswagon.com/book/my-first-flash...,210 gr,8.5 mm

In [335]:
df.columns

Index(['author', 'binding', 'category', 'depth', 'height', 'isbn10', 'isbn13',
       'language', 'noOfPages', 'price', 'publisher', 'publisherDate',
       'returnable', 'subTitle', 'title', 'url', 'weight', 'width'],
      dtype='object')

In [336]:
df = df.drop(columns=["isbn10","isbn13","subTitle","title","publisherDate","title","category","url","depth","returnable"])
df.head()

,author,binding,height,language,noOfPages,price,publisher,weight,width
0,Swami Vivekananda,Paperback,2.5 mm,English,432,₹226,Fingerprint! Publishing,294 gr,14.0 mm
1,Au,Hardback,292 mm,NaN,24,₹489,Penguin Books Ltd,616 gr,306 mm
2,Wonder House Books,Paperback,0.8 mm,English,32,₹119,Wonder House Books,700 gr,27.6 mm
3,Dreamland Publications,Paperback,280 mm,English,64,₹207,Dreamland Publications,325 gr,280 mm
4,Wonder House Books,Cards,3.4 mm,English,60,₹226,Wonder House Books,210 gr,8.5 mm

In [337]:
pd.DataFrame(df.author.value_counts())

                                      count
author
Wonder House Books                      465
RPH Editorial Board                     292
Au                                      193
Dreamland Publications                  183
Om Books Editorial Team                 167
...                                     ...
Howard E Gardner                          1
Tripathi, PC|Reddy, PN|Bajpai,Ashish      1
Katsuhiko Ogata                           1
Rao, C.S.                                 1
Bhandari, Arvind|Bhandari, Trupti         1

[10562 rows x 1 columns]

In [338]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17900 entries, 0 to 17899
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author     17832 non-null  object
 1   binding    17744 non-null  object
 2   height     15365 non-null  object
 3   language   15436 non-null  object
 4   noOfPages  16699 non-null  object
 5   price      17900 non-null  object
 6   publisher  17406 non-null  object
 7   weight     13058 non-null  object
 8   width      15440 non-null  object
dtypes: object(9)
memory usage: 1.2+ MB

In [339]:
df.describe()

,author,binding,height,language,noOfPages,price,publisher,weight,width
count,17832,17744,15365,15436,16699,17900,17406,13058,15440
unique,10562,83,665,42,1266,1930,1868,1546,683
top,Wonder House Books,Paperback,39.99992 mm,English,256,₹303,Penguin Books Ltd,700 gr,140 mm
freq,465,13234,999,13213,471,532,515,737,1475

In [340]:
df.height = df["height"].str.replace(r" mm", "").str.replace(r" ","")
df['height'] = pd.to_numeric(df['height'], errors='coerce').fillna(np.nan)

In [341]:
df.price = df.price.str.replace(r"₹", "").str.replace(r",","").astype(float)

In [342]:
df.weight = df.weight.str.replace(r" gr","")
df.width = df.width.str.replace(r" mm","")
df['weight'] = pd.to_numeric(df['weight'], errors='coerce').fillna(np.nan)
df['width'] = pd.to_numeric(df['width'], errors='coerce').fillna(np.nan)

In [343]:
df['noOfPages'] = pd.to_numeric(df['noOfPages'], errors='coerce').fillna(np.nan)

In [344]:
df.head()

,author,binding,height,language,noOfPages,price,publisher,weight,width
0,Swami Vivekananda,Paperback,2.5,English,432.0,226.0,Fingerprint! Publishing,294.0,14.0
1,Au,Hardback,292.0,NaN,24.0,489.0,Penguin Books Ltd,616.0,306.0
2,Wonder House Books,Paperback,0.8,English,32.0,119.0,Wonder House Books,700.0,27.6
3,Dreamland Publications,Paperback,280.0,English,64.0,207.0,Dreamland Publications,325.0,280.0
4,Wonder House Books,Cards,3.4,English,60.0,226.0,Wonder House Books,210.0,8.5

In [345]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17900 entries, 0 to 17899
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author     17832 non-null  object
 1   binding    17744 non-null  object
 2   height     15311 non-null  float64
 3   language   15436 non-null  object
 4   noOfPages  16666 non-null  float64
 5   price      17900 non-null  float64
 6   publisher  17406 non-null  object
 7   weight     13049 non-null  float64
 8   width      15386 non-null  float64
dtypes: float64(5), object(4)
memory usage: 1.2+ MB

In [346]:
df.describe()

             height     noOfPages          price        weight         width
count  15311.000000  16666.000000   17900.000000  13049.000000  15386.000000
mean     161.172189    359.173707     747.057709    522.374120    156.489012
std       99.272548    356.656883    5159.802412    876.062072    188.799681
min        0.000000      0.000000       1.000000      0.000000      0.000000
25%       46.999906    176.000000     239.000000    217.000000    130.000000
50%      198.000000    284.000000     365.000000    340.000000    140.000000
75%      220.000000    436.000000     620.000000    630.000000    192.000000
max     2399.995200  11000.000000  653177.000000  49940.000000  21599.999980

In [347]:
df.corr(numeric_only=True)

             height  noOfPages     price    weight     width
height     1.000000   0.025556  0.061394  0.143906  0.086702
noOfPages  0.025556   1.000000  0.182671  0.478663  0.092233
price      0.061394   0.182671  1.000000  0.159181  0.025385
weight     0.143906   0.478663  0.159181  1.000000  0.162252
width      0.086702   0.092233  0.025385  0.162252  1.000000

In [348]:
df.isnull().sum()

author         68
binding       156
height       2589
language     2464
noOfPages    1234
price           0
publisher     494
weight       4851
width        2514
dtype: int64

In [349]:
for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):
        df[col].fillna(df[col].median(),inplace=True)
    else:
        df[col].fillna(df[col].mode(),inplace=True)

In [350]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
object_cols = df.select_dtypes(include=['object'])
object_cols.columns
for col in object_cols.columns:
    df[col] = le.fit_transform(df[col])
df.head()

,author,binding,height,language,noOfPages,price,publisher,weight,width
0,9589,52,2.5,9,432.0,226.0,484,294.0,14.0
1,1151,29,292.0,42,24.0,489.0,1191,616.0,306.0
2,10413,52,0.8,9,32.0,119.0,1825,700.0,27.6
3,2867,52,280.0,9,64.0,207.0,403,325.0,280.0
4,10413,18,3.4,9,60.0,226.0,1825,210.0,8.5

In [351]:
df.corr()

,author,binding,height,language,noOfPages,price,publisher,weight,width
author,1.000000,0.016105,-0.112029,-0.059812,-0.029521,-0.003935,0.144529,-0.018068,-0.019898
binding,0.016105,1.000000,-0.057589,0.002911,0.039083,-0.044931,-0.005867,-0.115019,-0.021551
height,-0.112029,-0.057589,1.000000,0.060544,0.031994,0.058014,-0.145286,0.139480,0.081562
language,-0.059812,0.002911,0.060544,1.000000,-0.030351,-0.018246,-0.056487,-0.024169,0.041194
noOfPages,-0.029521,0.039083,0.031994,-0.030351,1.000000,0.182026,-0.062356,0.401990,0.032223
price,-0.003935,-0.044931,0.058014,-0.018246,0.182026,1.000000,-0.021109,0.160428,0.025937
publisher,0.144529,-0.005867,-0.145286,-0.056487,-0.062356,-0.021109,1.000000,-0.044636,-0.043137
weight,-0.018068,-0.115019,0.139480,-0.024169,0.401990,0.160428,-0.044636,1.000000,0.047123
width,-0.019898,-0.021551,0.081562,0.041194,0.032223,0.025937,-0.043137,0.047123,1.000000

In [352]:
X = df.drop(columns=["price"])
y = df.price

In [353]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42,train_size=0.8)

In [354]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [355]:
y_pred = lr.predict(X_test)

In [356]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,y_pred)
r2

0.34766549379261147

In [357]:
pd.DataFrame(y_pred,y_test)

                  0
price
363.0    720.168161
411.0    624.056656
487.0    736.581685
59.0    -292.387142
1032.0   215.096118
...             ...
551.0    212.270660
518.0   1033.535469
679.0   1755.404580
490.0    918.251386
245.0    684.543356

[3580 rows x 1 columns]